@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap);

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #533738;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  outline: none;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.wrapper>main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.wrapper>* {
  min-width: 0;
}

[class*=__container] {
  max-width: 87.5rem;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
}

body {
  line-height: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  background-color: #EFE6E4;
}

h2 {
  font-size: 50px;
  line-height: 62px;
}

.img-bcg {
  background-color: #b3adab;
}

.button {
  width: 309px;
  height: 74px;
  background-color: #CC8B86;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.button:hover,
.feedback__prev:hover,
.feedback__next:hover {
  background-color: #ac726e;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #eca29d;
}

.button:active,
.feedback__prev:active,
.feedback__next:active {
  background-color: #e49893;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #a16e6a;
}

.button--header {
  margin-bottom: 135px;
}

.feedback__prev,
.feedback__next {
  min-width: 72px;
  min-height: 72px;
  margin-top: -25px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #CC8B86;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.feedback__prev {
  margin-right: 29px;
  background-image: url("../img/icon/arrow-white-left.svg");
}

.feedback__next {
  margin-left: 29px;
  background-image: url("../img/icon/arrow-white-right.svg");
}

.header {
  width: 100%;
  height: 715px;
  background-image: url("../img/bcg/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 63px;
}

.logo {
  width: 180px;
  padding-top: 5px;
  text-align: right;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.header__phone {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  text-align: left;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin-bottom: auto;
}

.logo::before {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  margin-left: -25px;
  margin-top: -2px;
  background-image: url(../img/logo/logo_icon.svg);
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 15px;
  margin-top: 35px;
  margin-bottom: 87px;
  font-size: 16px;
}

.nav__item {
  min-width: 130px;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
  padding-left: 30px;
}

.nav__list:last-child {
  margin-right: 0;
}

.arrow-up {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 10px;
  left: 30px;
  opacity: 0.1;
}

.header-text {
  max-width: 570px;
  margin-left: 184px;
}

.header-text__title {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin-bottom: 15px;
}

.header-text__text {
  margin-bottom: 25px;
}

.about-us {
  margin-bottom: 65px;
}

.about-us__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
}

.about-us__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% 55%;
  grid-template-columns: 45% 55%;
  grid-column-gap: 60px;
  margin-bottom: 21px;
}

.about-us__img {
  width: 445px;
  height: 465px;
  margin-left: auto;
  background-image: url(../img/about-us.jpg);
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: contain;
}

.about-us__text-wrapper {
  max-width: 528px;
}

.about-us__text {
  margin-bottom: 34px;
}

.about-us__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 273px;
  padding: 0 80px;
  background-color: #8D7370;
  color: #fff;
  text-transform: uppercase;
}

.about-us__item dt {
  margin-bottom: 10px;
  text-align: center;
  font-size: 50px;
  line-height: 62px;
}

.about-us__item dd {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}

.about-us__item {
  margin: 0 55px;
}

.about-us__item:first-child,
.about-us__item:last-child {
  margin: 0;
}


.our-works__title {
  margin-left: 100px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
}

.img-collect__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

.img-collect__item {
  margin-bottom: 30px;
  position: relative;
}

.img-collect__item:nth-child(odd) {
  margin-right: 20px;
}

.img-collect__list-description {
  position: absolute;
  width: 100%;
  height: 100%;
}

.description {
  position: absolute;
  height: 100%;
  color: #FFFFFF;
  opacity: 0;
}

.description:hover {
  opacity: 1;
}

.description__title {
  margin: 86px 109px 28px 109px;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
}

.description__text {
  padding: 0 35px;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
}

.img-collect__item:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(100, 72, 69, 0.8)), color-stop(50%, rgba(100, 72, 69, 0.8)));
  background: -o-linear-gradient(bottom, rgba(100, 72, 69, 0.8) 0%, rgba(100, 72, 69, 0.8) 50%);
  background: linear-gradient(0deg, rgba(100, 72, 69, 0.8) 0%, rgba(100, 72, 69, 0.8) 50%);
}

.our-works {
  margin-bottom: 65px;
}

.our-works__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
  margin-bottom: 37px;
}

.our-works__more-arrow {
  margin-left: 10px;
}

.team {
  background-color: #E2C4BA;
  margin-bottom: 51px;
}

.team__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-top: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
}

.team__item {
  max-width: 320px;
  margin-right: 38px;
  margin-bottom: 27px;
}

.team__item:last-child {
  margin-right: 0;
}

.team__img {
  width: 320px;
  height: 253px;
  margin-bottom: 10px;
}

.how-we-work {
  margin-bottom: 55px;
}

.how-we-work__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  padding-left: 38px;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 50px;
}

.how-we-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
  padding-bottom: 80px;
}

.how-we-work__item {
  width: 285px;
  margin: 0 10px;
}

.how-we-work__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  background-color: #8D7370;
}

.how-we-work__text {
  text-align: center;
}

.feedback {
  margin-bottom: 65px;
}

.feedback__title {
  text-transform: lowercase;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 40px;
  padding-left: 21px;
}

.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1036px;
}

.feedback__blockquote p {
  margin-bottom: 30px;
}

.feedback__blockquote p:last-child {
  margin-bottom: 10px !important;
}

.feedback__blockquote cite {
  margin-top: -100px !important;
  line-height: 30px;
  font-style: normal;
  text-transform: uppercase;
}

.feedback__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feedback__img {
  margin-bottom: 24px;
}

.feedback__img:last-child {
  margin-bottom: 0;
}

.request {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
  height: 624px;
  background-color: #8D7370;
  color: #fff;
}

.request__form {
  margin-left: 26%;
  padding-top: 45px;
}

.request__title {
  margin-bottom: 10px;
  font-size: 40px;
  text-transform: uppercase;
}

.form__paragraph {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 45px;
  line-height: 30px;
}

.form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form__item {
  padding-bottom: 9px;
  margin-bottom: 30px;
  border-bottom: 1px solid #fff;
}

.form__input {
  color: #F6EDE9;
  background: transparent;
}

input::-webkit-input-placeholder {
  color: #F6EDE9;
}

input::-moz-placeholder {
  color: #F6EDE9;
}

input:-ms-input-placeholder {
  color: #F6EDE9;
}

input::-ms-input-placeholder {
  color: #F6EDE9;
}

input::placeholder {
  color: #F6EDE9;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.button--request {
  color: #533738;
}

.request__map {
  width: 590px;
  height: 624px;
  background-color: rgb(146, 146, 146);
  background: url("../img/map.png") no-repeat;
}

.footer {
  margin: 30px auto;
  width: 100%;
  padding: 0 100px;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__list:first-child {
  margin-right: 42px;
}

.footer__list:nth-child(2) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

@media screen and (max-width: 800px) {

  .header-text__wrapper {
    margin: 0 auto;
    text-align: center;
  }

  .header-text {
    margin: 0 auto;
    text-align: center;
  }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .nav__item {
    gap: 10px;
  }

  .logo,
  .header__phone {
    width: 100%;
    text-align: center;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .about-us__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .about-us__text-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
  }

  .about-us__img {
    margin: 0 auto;
  }

  .about-us__item {
    margin: 10px;
  }

  .img-collect__list>.img-collect__item {
    margin-right: 0;
  }

  .team__item {
    margin-right: 5px;
  }

  .how-we-work__title {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    text-align: center;
  }

  .how-we-work__item {
    margin-bottom: 20px;
  }

  .feedback__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px;
  }

  .feedback__title {
    margin-bottom: 80px;
  }

  .feedback__prev,
  .feedback__next {
    position: absolute;
    margin-top: -80px;
  }

  .feedback__next {
    margin-left: 150px;
  }

  .feedback__prev {
    margin-right: 150px;
  }

  .request {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 480px;
  }

  .request__form {
    margin: 0;
    padding: 0px 10px 10px 10px;
  }

  .request__map {
    margin: 0 auto;
  }

  .button--request {
    width: 100%;
  }

  .footer {
    padding: 0 10px;
  }
}
