// Заголовки, общие БЄМ блоки и проче...
body {
  line-height: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  background-color: #EFE6E4;
}

h2 {
  font-size: 50px;
  line-height: 62px;
}

.img-bcg {
  background-color: #b3adab;
}
