.feedback {
    margin-bottom: 65px;

  &__title {
    width: max-content;
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    // grid-template-columns: 50% 50%;
    // grid-column-gap: 20px;
    align-items: center;
    max-width: 1036px;
  }

  &__blockquote p {
    margin-bottom: 20px;
  }

  &__blockquote cite {
    line-height: 30px;
    font-style: normal;
    text-transform: uppercase;
  }

  &__img-wrapper {
    display: flex;
    flex-direction: column;
    // height: 568px;
    justify-content: space-between;
  }
}

.feedback__img {
	margin-bottom: 24px;
}

.feedback__img:last-child {
	margin-bottom: 0;
}