//====================================================================================================
.footer {
  margin: 37px auto;
  width: 100%;
  padding: 0 100px;

  &__item {
    display: flex;
    flex-wrap: wrap;
    // align-items: center;
    // align-content: center;
    // max-width: 1200px;
  }

  &__list:first-child {
    margin-right: 42px;
  }

  &__list:nth-child(2) {
    flex-grow: 1;
  }

  &__list:last-child {
  }
}
//====================================================================================================
