.our-works {
	// margin-bottom: 65px;
	
  &__title {
		margin-left: 100px;
    margin-bottom: 40px;
  }
}

.img-collect__list {
	text-align: center;
}

.img-collect__item {
  margin-bottom: 30px;
}



.img-collect__item:first-child {
  margin-right: 20px;
}

.our-works__more {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
  line-height: 37px;
	margin-bottom: 37px;
}

.more__arrow {
  margin-left: 10px;
}

// .our-works__more::after {
//   content: "";
//   position: absolute;
//   width: 100px;
//   height: 100px;
//   background: url("@img/icon/arrow-right.svg") no-repeat;
// }

