.team {
    background-color: #E2C4BA;
    margin-bottom: 65px;

  &__title {
    width: max-content;
    padding-top: 50px;
    margin-bottom: 40px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
		justify-content: center;
    margin-bottom: 35px;
  }

  &__item {
    max-width: 320px;
    margin-right: 38px;
		margin-bottom: 27px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__img {
    width: 320px;
    height: 253px;
  }
}

.how-we-work__title {
  width: max-content;
  margin-bottom: 40px;
}

.how-we-work__list{
  display: flex;
  flex-wrap: wrap;
	justify-content: center;
  list-style-type: none;
  padding-bottom: 80px;
}

.how-we-work__item{
  width: 285px;
}

.how-we-work__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  background-color: #8D7370;
}

.how-we-work__text {
  text-align: center;
}
